django
django-jazzmin
django-tinymce
django-allauth
python-decouple
psycopg2-binary
PyJWT
cryptography
fido2
qrcode
gunicorn
whitenoise
resend
langchain
langchain-core
langchain-classic
langchain-openai
langchain-postgres
langchain-community
langchain-text-splitters
langgraph
psycopg[binary]
rank-bm25